<div class="container">
    <section class=" text-center">
        <div class="row mt-1">
            <div class="col-12">
                <img src="./assets/img/logo.png" alt="Simit de los Andes" class="img-fluid mx-auto" srcset="./assets/img/logo2.png">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center fs-3">Gracias Por Contestar Nuestra Encuesta</p>
            </div>
        </div>
    </section>
    <section class="rounded-4 p-3 mb-3 text-center">
        <a routerLink='/encuesta' routerLinkActive="router-link-active" type="button" class="btn btn-primary">Iniciar nueva encuesta</a>
        <a (click)="FinSesion()" type="button" class="btn btn-primary">Finalizar encuesta</a>
    </section>
</div>